/**
 * Colores:
 * GrisOscuro: rgb(10,20,20)
 * RojoAnaranjado: rgb(255,100,0)
 * AmarilloLuminoso: rgb(255,255,100)
 * AmarilloIntenso: rgb(255,255,0)
 */
 
body{
	color: rgb(255,255,100);
	background-color: rgb(255,100,0);
	overflow: hidden;
	align:center;
}

/**ELEMENTOS INTERFAZ**/
#pantalla{
	display:inlineBlock;
	margin:auto;
	background-color: rgb(10,20,20);
	border-radius:25px;
}

#pantalla>canvas{
	position:absolute;
	border-radius:25px;
}

#imagenes{
	display:none;
}

#texto{
	overflow-y:scroll;
	display:inlineBlock;
	margin:auto;
}

a{
	text-decoration: none;
	color:rgb(255,255,100);
}

a:hover{
	text-decoration: none;
	text-shadow: 3px 3px 3px red;
	color:rgb(255,255,100);
}

#barra>h1, #barra>h2{
	display: inline-block;
	margin: 0px 30px;
}