<section">
	<ion-header-bar class="bar-stable">
		<h1 href="#/">RAGGED WINION</h1>
	</ion-header-bar>
	<ion-content>
		<div id='pantalla'>
			<canvas id='video'>Si puedes leer este texto... por favor, usa un navegador mas moderno.</canvas>
		</div>
		<div id='gamesrc'>
			<div id='personaje'>
				<img id='personaje1' src='./src/gamesrc/personaje/personaje1.png'/>
				<img id='personaje2' src='./src/gamesrc/personaje/personaje2.png'/>
				<img id='personaje3' src='./src/gamesrc/personaje/personaje3.png'/>
				<img id='personaje4' src='./src/gamesrc/personaje/personaje4.png'/>
				<img id='personaje5' src='./src/gamesrc/personaje/personaje5.png'/>
				<img id='personaje6' src='./src/gamesrc/personaje/personaje6.png'/>
				<img id='personajeSaltando' src='./src/gamesrc/personaje/personajeSaltando.png'/>
				<img id='personajeCayendo' src='./src/gamesrc/personaje/personajeCayendo.png'/>
			</div>
			<div id='esfera'>
				<img id='esfera10' src='./src/gamesrc/esfera/esfera10.png'/>
				<img id='esfera12' src='./src/gamesrc/esfera/esfera12.png'/>
				<img id='esfera14' src='./src/gamesrc/esfera/esfera14.png'/>
				<img id='esfera16' src='./src/gamesrc/esfera/esfera16.png'/>
				<img id='esfera18' src='./src/gamesrc/esfera/esfera18.png'/>
				<img id='esfera20' src='./src/gamesrc/esfera/esfera20.png'/>
				<img id='esfera21' src='./src/gamesrc/esfera/esfera21.png'/>
			</div>
			<div id='cristal'>
				<img id='cristal10' src='./src/gamesrc/cristal/cristal10.png'/>
				<img id='cristal12' src='./src/gamesrc/cristal/cristal12.png'/>
				<img id='cristal14' src='./src/gamesrc/cristal/cristal14.png'/>
				<img id='cristal16' src='./src/gamesrc/cristal/cristal16.png'/>
				<img id='cristal18' src='./src/gamesrc/cristal/cristal18.png'/>
				<img id='cristal20' src='./src/gamesrc/cristal/cristal20.png'/>
			</div>
			<ul id='enemigos'>
				<li id='alma'>
					<img id='almaA' src='./src/gamesrc/alma/almaA.png'/>
					<img id='almaB' src='./src/gamesrc/alma/almaB.png'/>
					<img id='almaC' src='./src/gamesrc/alma/almaC.png'/>
				</li>
				<li id='demoniojefe'>
					<img id='demoniojefeA' src='./src/gamesrc/demoniojefe/demoniojefeA.png'/>
					<img id='demoniojefeB' src='./src/gamesrc/demoniojefe/demoniojefeB.png'/>
					<img id='demoniojefeC' src='./src/gamesrc/demoniojefe/demoniojefeC.png'/>
				</li>
				<li id='esqueleto'>
					<img id='esqueletoA' src='./src/gamesrc/esqueleto/esqueletoA.png'/>
					<img id='esqueletoB' src='./src/gamesrc/esqueleto/esqueletoB.png'/>
					<img id='esqueletoC' src='./src/gamesrc/esqueleto/esqueletoC.png'/>
				</li>
				<li id='halcon'>
					<img id='halconA' src='./src/gamesrc/halcon/halconA.png'/>
					<img id='halconB' src='./src/gamesrc/halcon/halconB.png'/>
					<img id='halconC' src='./src/gamesrc/halcon/halconC.png'/>
				</li>
				<li id='huesos'>
					<img id='huesosA' src='./src/gamesrc/huesos/huesosA.png'/>
					<img id='huesosB' src='./src/gamesrc/huesos/huesosB.png'/>
					<img id='huesosC' src='./src/gamesrc/huesos/huesosC.png'/>
				</li>
				<li id='minion'>
					<img id='minionA' src='./src/gamesrc/minion/minionA.png'/>
					<img id='minionB' src='./src/gamesrc/minion/minionB.png'/>
					<img id='minionC' src='./src/gamesrc/minion/minionC.png'/>
				</li>
				<li id='nube'>
					<img id='nubeA' src='./src/gamesrc/nube/nubeA.png'/>
					<img id='nubeB' src='./src/gamesrc/nube/nubeB.png'/>
					<img id='nubeC' src='./src/gamesrc/nube/nubeC.png'/>
				</li>
				<li id='nubegris'>
					<img id='nubegrisA' src='./src/gamesrc/nubegris/nubegrisA.png'/>
					<img id='nubegrisB' src='./src/gamesrc/nubegris/nubegrisB.png'/>
					<img id='nubegrisC' src='./src/gamesrc/nubegris/nubegrisC.png'/>
				</li>
				<li id='nubetormentosa'>
					<img id='nubetormentosaA' src='./src/gamesrc/nubetormentosa/nubetormentosaA.png'/>
					<img id='nubetormentosaB' src='./src/gamesrc/nubetormentosa/nubetormentosaB.png'/>
					<img id='nubetormentosaC' src='./src/gamesrc/nubetormentosa/nubetormentosaC.png'/>
				</li>
				<li id='nubemalvada'>
					<img id='nubemalvadaA' src='./src/gamesrc/nubemalvada/nubemalvadaA.png'/>
					<img id='nubemalvadaB' src='./src/gamesrc/nubemalvada/nubemalvadaB.png'/>
					<img id='nubemalvadaC' src='./src/gamesrc/nubemalvada/nubemalvadaC.png'/>
				</li>
				<li id='soldadoEscudo'>
					<img id='soldadoEscudoA' src='./src/gamesrc/soldadoEscudo/soldadoEscudoA.png'/>
					<img id='soldadoEscudoB' src='./src/gamesrc/soldadoEscudo/soldadoEscudoB.png'/>
					<img id='soldadoEscudoC' src='./src/gamesrc/soldadoEscudo/soldadoEscudoC.png'/>
				</li>
				<li id='soldadoEspada'>
					<img id='soldadoEspadaA' src='./src/gamesrc/soldadoEspada/soldadoEspadaA.png'/>
					<img id='soldadoEspadaB' src='./src/gamesrc/soldadoEspada/soldadoEspadaB.png'/>
					<img id='soldadoEspadaC' src='./src/gamesrc/soldadoEspada/soldadoEspadaC.png'/>
				</li>
				<li id='tierra'>
					<img id='tierraA' src='./src/gamesrc/tierra/tierraA.png'/>
					<img id='tierraB' src='./src/gamesrc/tierra/tierraB.png'/>
					<img id='tierraC' src='./src/gamesrc/tierra/tierraC.png'/>
				</li>
			</ul>
		</div>
	</ion-content>
</section>